/out/
/prebuilts/clang/host/linux-x86/profiles/
/prebuilts/jdk/jdk9/darwin-x86/lib/modules
/prebuilts/jdk/jdk9/linux-x86/lib/modules
/prebuilts/misc/common/robolectric/android-all/android-all-8.1.0-robolectric-r4458339.jar
/prebuilts/tools/darwin-x86_64/bazel/
/prebuilts/tools/linux-x86_64/bazel/
/tools/dexter/testdata/expected/large.code_coverage
/tools/dexter/testdata/expected/large.verbose_cfg
/tools/external/gradle/gradle-api-3.5-20170307000048+0000.jar
/vendor/google/
/vendor/opengapps/
/vim3_lcd_exist_detect.patch
device/bananapi/m5_mbox/preinstall/apk/com.dianshijia.hoteltv.apk
device/bananapi/m5_mbox/preinstall/apk/com.wyt.iexuetang.tv.bailuyun.apk
device/bananapi/m5_mbox/preinstall/apk/com.yzd.adserver.apk
device/bananapi/m5_mbox/preinstall/apk/com.yzd.launcher.apk
device/bananapi/m5_mbox/preinstall/apk/com.yzd.mqttfile.apk
device/bananapi/m5_mbox/preinstall/apk/com.yzd.mqttserver.apk
device/bananapi/m5_mbox/preinstall/apk/com.yzd.readfile.apk


device/bananapi/m5_mbox/bootloader.img

device/bananapi/m5_mbox/upgrade/platform.conf

device/bananapi/m5_mbox/upgrade/u-boot.bin.usb.bl2

device/bananapi/m5_mbox/upgrade/u-boot.bin.sd.bin

device/bananapi/m5_mbox/upgrade/u-boot.bin.usb.tpl

device/bananapi/m5_mbox/upgrade/aml_upgrade_package_enc_avb.conf

device/bananapi/m5_mbox/upgrade/aml_upgrade_package_enc.conf

device/bananapi/m5_mbox/upgrade/bootloader.img
