on property:sys.boot_completed=1
    start preinstall_script

service preinstall_script /system/bin/sh /vendor/preinstall/sh/preinstall.sh
    disable
    class main
    oneshot
    console
    user root
    group root system
    seclabel u:r:shell:s0 
