on property:sys.boot_completed=1
    start start_script
    start sshd    

service start_script /system/bin/sh /vendor/etc/init/start/start.sh
    disable
    class main
    oneshot
    console
    user root
    group root system
    seclabel u:r:shell:s0 
